* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
}

hr {
    border: 0.5px solid rgba(219, 59, 59, 0.2);
}

button {
    padding: 8px 20px;
    border: 0;
    letter-spacing: 2px;
    border-radius: 4px;
}

section {
    padding: 20px;
}

header {
    z-index: 0;
}

p {
    font-size: 1.1em;
    margin-top: 10px;
    font-weight: 500;
}

iframe#gmap_canvas {
    width: 100%;
    height: 350px;
}

label {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.dropdown-content.in {
    right: 20%;
    transform: translateX(60%);
}

.f-width {
    width: 100%;
}

.img-responsive {
    width: 80%;
    max-width: 80%;
    max-height: 400px;
}

.outBurger {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.shadow {
    box-shadow: 0px 0px 20px rgb(73, 67, 67);
}

.btnPrimary {
    margin: 10px;
    padding: 10px;
    background-color: rgb(238, 226, 226);
    font-weight: bold;
    color: rgb(236, 41, 41);
    box-shadow: 1px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px 5px;
    cursor: pointer;
    text-decoration: none;
}

.btnPrimary:hover {
    background-color: #ffffff;
}

.btnPrimary:focus {
    outline: 0;
}

.navigationbar {
    background-color: rgb(241, 146, 146);
    height: 50px;
    align-items: center;
    letter-spacing: 1px;
}

.navigationbar.in {
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.nav-container {
    padding-right: 4%;
    padding-left: 4%;
    display: grid;
    grid-template-columns: 7% 93%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.d-sm {
    display: none !important;
}

.logo {
    width: 40px;
    padding: 5px;
}

.collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    z-index: 1;
    color: rgb(238, 226, 226);
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    color: rgb(73, 67, 67);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8em;
    transition: 1s;
    padding: 10px;
}

.nav-links a:hover {
    color: rgb(107, 105, 105);
    border-radius: 5px 30px;
    color: #be3b3f;
}

.fa-bell {
    transition: 1s;
    cursor: pointer;
}

.fa-bell:hover {
    color: rgb(107, 105, 105);
    border-radius: 5px 30px;
    color: #be3b3f;
}

.burger {
    display: none;
}

.burger>.line1,
.line2,
.line3 {
    width: 25px;
    height: 2px;
    background-color: rgb(73, 67, 67);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger>.line4 {
    font-size: 10px;
    color: rgb(73, 67, 67));
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
    ;
}

.dropdown {
    overflow: hidden;
    display: flex;
}

.dropdown .dropbtn {
    border: none;
    color: rgb(73, 67, 67);
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 14px 10px;
    font-size: 1.2em;
}

.dropdown:hover .dropbtn {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: rgb(231, 148, 148);
    ;
    width: auto;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.notify-body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-content: center;
    align-items: center;
    grid-gap: 10px;
}

.fa-bell {
    color: #31313d;
}

.notify-header {
    font-size: 1em;
    text-transform: uppercase;
}

.notify-body>div>p {
    font-size: 0.8em;
}

.notify-bloodType {
    color: red;
}

.signOut>a {
    text-decoration: none;
    color: #31313d;
    padding: 10px;
    font-weight: 600;
    font-size: 0.8em;
    transition: 1s;
    border-radius: 10px;
}

.signOut>a:hover {
    box-shadow: 0 0 0 0;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: rgb(250, 179, 179);
    color: white;
}

.show {
    display: block;
}

.section1 {
    display: grid;
    background-color: rgba(221, 10, 10, 0.705);
    height: 92vh;
    overflow: hidden;
}

.main1 {
    text-align: center;
    display: block;
}

.mainLogo {
    width: 12em;
    margin-bottom: 5px;
}

.slogn {
    color: white;
    text-align: center;
    font-size: 1.2em;
    display: block;
}

.icon {
    margin-top: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 0;
}

.icon :nth-of-type(odd) {
    width: 50%;
}

.icon :nth-of-type(even) {
    width: 30%;
}

.section2 {
    background-color: rgba(244, 245, 239, 0.86);
}

.grey-bg {
    background-color: #e0dada !important;
}

.section3 {
    background-color: #e0dada;
    display: grid;
    grid-template-columns: 6fr 7fr;
    grid-gap: 10px;
    padding: 15px;
    align-items: center;
}

.joinImg>img {
    width: 100%;
}

.title {
    text-align: center;
    text-align: center;
    color: #C21C1C;
    letter-spacing: 2px;
    padding: 2% 10%;
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.781);
}

.title>.joinp {
    padding: 20px 10px;
    margin: auto;
    text-align: center;
    width: 60%;
    color: black;
}

.section4 {
    display: grid;
    background-color: rgba(244, 245, 239, 0.86);
}

.section4>.bloodType {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-content: space-between;
    margin: auto;
}

.section4>.title hr {
    width: 9%;
}

.footer {
    background-color: #BB141A;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    width: 100%;
    padding: 15px 40px;
}

.footer>.footer-logo img {
    width: 10%;
    min-width: 80px;
}

.footer-logo {
    text-align: center;
}

.links {
    display: block;
    list-style-type: none;
}

.links>li {
    padding-top: 20px;
}

div.footer-nav>.links a {
    text-decoration: none;
    color: #ffffff;
}

.p1 {
    padding: 15px;
}

.p2 {
    padding: 30px
}

.mr-1 {
    margin-right: 20px;
}

.mt-1 {
    margin-top: 20px;
}

.mt-2 {
    margin-top: 40px;
}

.mt-3 {
    margin-top: 60px;
}

.mb-1 {
    margin-bottom: 20px;
}

.mb-2 {
    margin-bottom: 40px;
}

.fab {
    font-size: 2.6em;
    color: white;
}

.footer-location>p {
    color: white;
    text-align: center;
}

.bloodType h2 {
    margin: auto;
    padding-top: 50px;
    letter-spacing: 2px;
    font-weight: 600;
}

.bloodType p {
    margin: auto;
    padding: 20px;
    text-align: center;
    margin: auto;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 500;
}

.title>hr {
    margin-top: 9px !important;
    margin: auto;
    text-align: center;
    width: 15%;
}

.sub-title {
    margin: auto;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
    font-weight: 600;
    width: 60%;
}

.three-col {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.3%;
    grid-gap: 10px;
    margin-top: 30px;
    padding: 10px;
}

.red-italic {
    color: #972525;
    font-style: italic;
}

.light-grey {
    background-color: rgb(226, 220, 220);
    padding: 0;
    margin: 0;
}

.border-radious {
    border-radius: 20px;
}

.statusText {
    color: #0FB2B2;
    font-weight: bold !important;
}

.red {
    background-color: red;
    color: white;
}

.col3 {
    padding: 15px;
    text-align: center;
    transition: 1s;
}

.col3:hover {
    transform: translateY(-3%);
    box-shadow: 0px 0px 30px rgba(209, 203, 203, 0.5);
}

.col3>img {
    width: 45%;
}

.copy {
    background-color: rgba(244, 245, 239, 0.86);
    color: rgb(221, 10, 10);
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    letter-spacing: 3px;
    font-weight: bold;
}

.m1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.d-b {
    display: block !important;
    margin: 20px;
}

.m-auto {
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #C21C1C;
    font-weight: 600;
}

input {
    border: 2px solid rgb(250, 113, 113);
    border-radius: 5px 30px;
    text-align: center;
    padding: 5px;
    outline: none;
}

select {
    border: 2px solid rgb(250, 113, 113);
    border-radius: 5px 30px;
    text-align: center;
    padding: 5px;
    outline: none;
}

select:focus {
    outline: none;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type='radio']:checked:before {
    background: #C21C1C;
}

input:focus {
    outline: none;
}

.twoEqualCol.in {
    margin: 0 !important;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0px;
}

.center {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center.red {
    background-color: rgba(221, 10, 10, 0.705);
}

.border {
    border: 2px solid #C21C1C;
}

.btn {
    text-transform: uppercase;
    border-radius: 30px 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.btnHalf {
    width: 70% !important;
}

.btnwidth {
    width: auto !important;
    padding: 10px 30px !important;
}

.btnRed {
    text-transform: uppercase;
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #be3b3f;
}

.btnWhite {
    background-color: white;
    text-transform: uppercase;
    border-radius: 30px 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.btnWhite:hover {
    background-color: #e0dada;
}

.tRed {
    color: rgb(236, 41, 41);
}

.btn-sm {
    margin-top: 10px;
    width: auto !important;
    padding: 10px;
}

.btnCenter {
    margin: auto;
}

.btn:hover {
    background-color: #ac1d22;
}

.btn:focus {
    outline: 0;
}

.tcenter {
    text-align: center;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.topSection {
    height: 92vh;
    margin-top: 40px;
}

.twoEqualCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.bg-grey {
    margin-top: 2vh;
    background-color: rgba(218, 218, 218, 0.2);
    padding: 50px 20px;
    align-items: center;
    align-content: center;
}

.twoCol {
    margin-top: 2vh;
    background-color: rgba(218, 218, 218, 0.2);
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 4fr 7fr;
    align-items: center;
    align-content: center;
}

.twoCol.contact {
    background-image: url('../img/mapBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center.donate {
    background-image: url('../img/ask-01.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.center.login {
    background-image: url('../img/loginBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p3 {
    padding: 0 20%;
}

.p2 {
    padding: 20px;
}

.white {
    color: white;
}

.white h2,
h3 {
    font-weight: lighter;
}

span {
    font-size: 1.2em;
}

.fa-user-me {
    font-size: 4em;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    color: white;
}

.fa-pencil {
    font-size: 2em;
    color: #972525;
}

.subSection {
    padding: 5px 0px;
    width: 100px;
    text-align: center;
    background-color: #C33237;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
}

.detail {
    font-style: normal;
    padding: 10px;
}

.TextWhite {
    color: white !important;
}

.map {
    text-align: center;
}

#gmap_canvas {
    display: inline;
    border: 1px solid #C21C1C;
}


/*Large devices (desktops, less than 767px)*/

.centerTop {
    height: 80%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerTop.donate {
    background-image: url('../img/ask-01.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

@media (max-width: 767.98px) {
    body {
        overflow-x: hidden;
    }
    .p1 {
        padding-right: 5;
        padding-left: 5;
    }
    .centerTop {
        height: 100%;
        padding: 0;
        margin: 0;
        display: list-item;
        padding: 70px;
    }
    .centerTop.donate {
        background-image: url('../img/ask-sm.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nav-linksIn {
        width: 100% !important;
    }
    .navigationbar.in {
        grid-template-columns: 1fr 1fr;
    }
    .dropdown-content.in {
        right: 50%;
        transform: translateX(60%);
    }
    .footer-logo .fab {
        font-size: 1.5em;
    }
    nav {
        display: grid;
        grid-template-columns: auto auto;
    }
    .nav-links {
        position: absolute;
        transform: translateX(100%);
        right: 0px;
        height: 92vh;
        top: 50px;
        background-color: rgb(224, 123, 123);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        padding-right: 10px;
        justify-self: end;
        display: block;
        cursor: pointer;
    }
    .nav-active {
        transition: transform 0.5s ease-in-out;
        transform: translateX(0%);
    }
    @keyframes navLinksFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .toggle .line1 {
        background-color: #be3b3f;
        transform: rotate(-135deg) translate(-6px, -6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        background-color: #be3b3f;
        transform: rotate(135deg) translate(-5px, 5px);
    }
    .dropdown.login {
        display: none;
    }
    .mainLogo {
        width: 8em;
        margin-bottom: 5px;
    }
    .d-sm {
        display: block !important;
    }
    .d-xl {
        display: none;
    }
    .two-col {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "a a" "a a" "d d";
        justify-content: center;
        align-content: center;
    }
    .col-center {
        grid-area: d;
        margin: auto;
        width: 50%;
    }
    .section4>.bloodType {
        grid-template-columns: 1fr 1fr;
    }
    .twoCol {
        padding: 50px 20px;
        display: grid;
        grid-template-columns: auto;
    }
    .twoCol>.col1 {
        text-align: center;
        margin: auto;
        margin-bottom: 15px;
    }
    .col1>h5 {
        margin: auto;
    }
    .col1 {
        margin: auto;
    }
    .col1>.detail {
        padding: 10px 0;
    }
    .topSection {
        height: auto;
    }
    .oneCol {
        padding: 50px 20px;
        display: grid;
        grid-template-columns: auto;
    }
}

@media (max-width: 567.98px) {
    body {
        overflow-x: hidden;
    }
    .footer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a a" "a a" "d d";
        justify-content: center;
        align-content: center;
    }
    .footer-location {
        display: none;
    }
    .section3 {
        grid-template-columns: 1fr;
    }
    .nav-links {
        width: 100%;
        z-index: 1;
    }
    .btnPrimary {
        margin-top: 20px;
    }
    .sub-title {
        width: 100%;
    }
    .one-col {
        padding: 0;
        margin: 0;
        display: block;
    }
    .col1 {
        width: 100%;
    }
    .d-md {
        display: none;
    }
}

@media (max-width: 399px) {
    .d-b-xs {
        display: block;
    }
    .btnwidth {
        width: 70% !important;
        padding: 5px 15px !important;
        margin: auto;
        margin-top: 10px;
    }
}